<% content_for :sidebar do %>
<%= render :partial => 'folders/list' %>
<% end %>

<% content_for :title do %>
- <%= t(:compose) %>
<% end %>

<div class="block" id="block-tables">
    <div class="secondary-navigation">
        <%= raw main_navigation(:compose) %>
    </div>
    <div class="content">
        <%= form_tag({:controller=>'messages', :action=>'ops'})%>

        </form>
    </div>
</div>

