<% content_for :title do %>
  <%= @title %>
<% end %>

<div id="box">
<div class="block block-login">
<div id="logo"><a href="/"><img src="<%= current_theme_image_path('logo_small.png')%>" alt="Mailr"/></a>
</div>
<h2><%= @title %></h2>
	<div class="content">
	<div class="flash"><div class="message error"><p><%= @error %></p></div></div>
	</div>
</div>
</div>
